.graphic-container {

    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

  }
  .parent {
    display: flex;          
    flex-direction: column;  
    justify-content: center;
    align-items: center; 
 
  }